{{!-- <main>
    <div class="container-book">

        <h1>Books</h1>
        {{#if book}}
        {{#each book}}
        <div class="book-box">
            <div class="box">
                <img
                    src="https://img.lovepik.com/free-png/20210923/lovepik-boy-reading-a-book-png-image_401267701_wh1200.png" />
                <h3>{{title}}</h3>
                <h3>{{author}}</h3>
                <h3>{{page}}</h3>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h1>Not Fount</h1>
        {{/if}}
    </div>
</main> --}}


{{!-- <div class="cards">

    <h1 class="heading">our services</h1>
    {{#if book}}
    <div class="box-container">
        {{#each book}}
        <div class="box">
            <img src="" alt="">
            <h3>{{title}}</h3>
            <h3>{{author}}</h3>
            <h3>{{page}}</h3>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h1>Not Fount</h1>
    {{/if}}

</div> --}}


<div class="row container">
    <h1 class="heading">our services</h1>
    {{#if book}}
    {{#each book}}
    <div class="col s3">
        <div class="cards">
            <div class="card-image">
                <img style="width: 250px" src={{img}} alt="img">
            </div>
            <div class="content">

                <p><b>{{title}}</b></p>
                <p><b>{{author}}</b></p>
                <p><b>{{page}}</b></p>
                <p><b>{{price}}</b></p>

            </div>
            <div class="card-button">
                {{!-- edit button --}}
                <a href="/book/upId/{{id}}"><button class="waves-effect  blue darken-4 btn">Idet</button></a>
                {{!-- edit button --}}
                <a href="/book/delete/{{id}}"><button class="waves-effect  red darken-4 btn">Delete</button></a>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h1>Not Fount</h1>
    {{/if}}
</div>