<h1 class="heading">Kitob qo'shish</h1>
<div class="container">
    {{#if data}}
    <form action="/book/update" method="POST">

        <label for="title">Book Name</label>
        <input type="text" id="title" name="title" placeholder="Inter Book Name" value={{data.title}}>

        <label for="author">Book author</label>
        <input type="text" id="author" name="author" placeholder="Inter Book Author" value={{data.author}}>

        <label for="page">Book Page</label>
        <input type="number" id="page" name="page" placeholder="Inter Book Page" value={{data.page}}>

        <label for="page">Book Price</label>
        <input type="number" id="price" name="price" placeholder="Inter Book Price" value={{data.price}}>

        <input type="hidden" id="page" name="id" placeholder="Inter Book Page" value={{data.id}}>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
    {{/if}}
</div>